.gradient-bg{
    background: linear-gradient(to right, white , rgb(70, 107, 209));
    animation:bg-animation alternate 10s;
}
@keyframes bg-animation{
    from{
    }
    to{
        background-position: 25% 75%;
    }
}